name: Linux

on:
  push:
    branches: [ master ]
  pull_request:

concurrency:
  group: ${{ github.ref }}-${{ github.workflow }}-${{ github.event_name }}
  cancel-in-progress: true

jobs:
  build:
    name: build
    runs-on: ubuntu-24.04
    continue-on-error: true

    strategy:
      matrix:
        compiler:
          - { compiler: GNU,  CC: gcc,   CXX: g++,    }
          - { compiler: LLVM, CC: clang, CXX: clang++ }

    steps:
      - name: checkout
        uses: actions/checkout@v2

      - name: cmake
        env:
          CC: ${{ matrix.compiler.CC }}
          CXX: ${{ matrix.compiler.CXX }}
        run: |
          cmake -B ${{ github.workspace }}/build

      - name: build library
        run: |
          cmake --build ${{ github.workspace }}/build

      - name: run tests
        working-directory: ${{ github.workspace }}/build
        run: |
          ctest 
